.board{
    height: 700px;
    width: 315px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.start{
    width: 10px;
    height: 700px;
    background-color: gray;
}

.end{
    width: 10px;
    height: 700px;
    background-color: gray;
}

.ball {
    background-color: red;
    border-radius: 50%;
    position: absolute;
}